<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Afiliaciones | Partido De La Red</title>
  <meta name="description" content="Ya no hay razones para que nuestros
  representantes se limiten a escucharnos cada 2 años. En tiempos de la red,
  es fundamental que todos podamos participar para vivir una democracia donde
  entre todos construyamos el país que soñamos.">
  <link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body>

<main>
  <header>
    <img class="logo" width="118" src="img/logo.svg" onerror="this.onerror=null;this.src=this.src.replace(/svg$/, 'png')" alt="Partido De La Red">
    <nav>
      <button class="active" type="button">Afiliarme</button>
      <button type="button">Más Info</button>
    </nav>
  </header>

  <form class="pure-form pure-form-stacked" method="post" enctype="multipart/form-data">
    <h1><span>1</span> Subí las fotos de tu DNI</h1>

    <label for="foto1">Frente DNI tarjeta o primera hoja con foto del DNI libro:</label>
    <input type="file" name="foto1" id="foto1" title="Frente DNI tarjeta o primera hoja con foto del DNI libro." required>

    <label for="foto2">Dorso DNI tarjeta o segunda hoja del DNI libro:</label>
    <input type="file" name="foto2" id="foto2" title="Dorso DNI tarjeta o segunda hoja del DNI libro." required>

    <label for="foto3">En el caso que hayas cambiado tu domicilio en el DNI libro, también lo necesitamos:</label>
    <input type="file" name="foto3" id="foto3">

    <h1><span>2</span> Completá tus datos personales</h1>

    <div class="input-wrapper required">
      <input type="text" name="nombres" id="nombres" value="<?= $afiliado['nombres'] ?>" placeholder="Nombre" title="Nombre/s como aparece en el DNI" required>
    </div>
    <div class="input-wrapper required">
      <input type="text" name="apellido" id="apellido" value="<?= $afiliado['apellido'] ?>" placeholder="Apellido" title="Apellido/s como aparece en el DNI" required>
    </div>
    <div class="input-wrapper required">
      <input type="text" name="dni" id="dni" value="<?= $afiliado['dni'] ?>" title="DNI escrito sólo con números." placeholder="DNI" required pattern="[0-9]{1,9}">
    </div>

    <div class="input-wrapper required">
      <input type="mail" name="mail" id="mail" value="<?= $afiliado['mail'] ?>" placeholder="E-Mail" required>
    </div>

    <label for="sexo">Sexo:</label>
    <div class="select-wrapper required">
      <select name="sexo" id="sexo" required>
        <option value="" selected disabled>-&nbsp;sexo&nbsp;-</option>
        <option value="f" <? if( $afiliado['sexo'] == 'f') echo 'selected'; ?>>Femenino</option>
        <option value="m" <? if( $afiliado['sexo'] == 'm') echo 'selected'; ?>>Masculino</option>
      </select>
    </div>

    <label for="dia">Fecha de Nacimiento:</label>
    <div class="select-wrapper required">
      <select name="dia" id="dia" required>
        <option value="" selected disabled>-&nbsp;dia&nbsp;-</option>
        <? for( $k = 1; $k <= 31; $k++ ){ $_dia = str_pad($k, 2, '0', STR_PAD_LEFT)?>
          <option value="<? echo $_dia ?>" <? if( $afiliado['dia'] == $_dia ) echo 'selected'; ?>>
            <?= $k ?>
          </option>
        <? } ?>
      </select>
    </div>
    <div class="select-wrapper required">
      <select name="mes" id="mes" required>
        <option value="" selected disabled>-&nbsp;mes&nbsp;-</option>
        <option value="01" <? if( $afiliado['mes'] == '01') echo 'selected'; ?>>Ene</option>
        <option value="02" <? if( $afiliado['mes'] == '02') echo 'selected'; ?>>Feb</option>
        <option value="03" <? if( $afiliado['mes'] == '03') echo 'selected'; ?>>Mar</option>
        <option value="04" <? if( $afiliado['mes'] == '04') echo 'selected'; ?>>Abr</option>
        <option value="05" <? if( $afiliado['mes'] == '05') echo 'selected'; ?>>May</option>
        <option value="06" <? if( $afiliado['mes'] == '06') echo 'selected'; ?>>Jun</option>
        <option value="07" <? if( $afiliado['mes'] == '07') echo 'selected'; ?>>Jul</option>
        <option value="08" <? if( $afiliado['mes'] == '08') echo 'selected'; ?>>Ago</option>
        <option value="10" <? if( $afiliado['mes'] == '10') echo 'selected'; ?>>Sep</option>
        <option value="10" <? if( $afiliado['mes'] == '10') echo 'selected'; ?>>Oct</option>
        <option value="11" <? if( $afiliado['mes'] == '11') echo 'selected'; ?>>Nov</option>
        <option value="12" <? if( $afiliado['mes'] == '12') echo 'selected'; ?>>Dic</option>
      </select>
    </div>
    <div class="select-wrapper required">
      <select name="ano" id="ano" required>
        <option value="" selected disabled>-&nbsp;año&nbsp;-</option>
        <? for( $k = 1996; $k >= 1900; $k-- ){ ?>
          <option value="<?= $k ?>" <? if( $afiliado['ano'] == (string)$k ) echo 'selected'; ?>>
            <?= $k ?>
          </option>
        <? } ?>
      </select>
    </div>

    <div class="input-wrapper required">
      <input type="text" name="lugar_nac" id="lugar_nac" value="<?= $afiliado['lugar_nac'] ?>" title="Tu lugar de nacimiento como figura en el DNI." placeholder="Lugar de Nacimiento" required>
    </div>

    <div class="input-wrapper required">
      <input type="text" name="profesion" id="profesion" value="<?= $afiliado['profesion'] ?>" placeholder="Profesión u Oficio" required>
    </div>

    <div class="input-wrapper required">
      <input type="text" name="est_civil" id="est_civil" value="<?= $afiliado['est_civil'] ?>" title="Estado Civil como figura en el DNI." placeholder="Estado Civil" required>
    </div>

    <div class="input-wrapper required">
      <input type="text" name="direccion" id="direccion" value="<?= $afiliado['direccion'] ?>" title="Domicilio legal como figura en el DNI." placeholder="Domicilio" required>
    </div>

    <div class="input-wrapper">
      <input type="text" name="telefono" id="telefono" value="<?= $afiliado['telefono'] ?>" placeholder="Teléfono">
    </div>

    <button type="submit">Afiliarme</button>
  </form>

</main>

<link href='http://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
<script src="//polyfill.io"></script>
<script src="js/app.min.js"></script>
<? require 'app/partials/analytics.html' ?>

</body>
</html>