<!DOCTYPE html>
<html>
<head>
  <title>Gracias! | Partido De La Red</title>
</head>
<body>
<h1>Gracias por completar todos los datos.</h1>
<p>Ahora sólo falta que firmes las fichas de afiliación en papel. La ley nos exige que firmes las fichas. Es por eso que nos pondremos en contacto con vos por mail, para invitarte a que pases a firmar las fichas por alguno de los puntos fijos donde tenemos fichas de afiliación, o para coordinar que algún voluntario del Partido de la Red te acerque las fichas a algún lugar de tu conveniencia.</p>
<p>Recordá que podés contactarnos siempre que lo necesites en:</p>
<ul>
  <li>Mail: <a href="mailto:afiliacionespdr@gmail.com">afiliacionespdr@gmail.com</a></li>
  <li>Twitter: <a href="https://twitter.com/PartidodelaRed">@PartidodelaRed</a></li>
  <li>Facebook: <a href="https://www.facebook.com/PartidoDeLaRed">facebook.com/PartidoDeLaRed</a></li>
  <li>Web: <a href="http://partidodelared.org/">partidodelared.org</a></li>
</ul>
</body>
</html>